# Core
streamlit
streamlit-option-menu
streamlit-chat

# Data
pandas
numpy

# Image Processing
opencv-python-headless
Pillow
pydicom
scikit-image

# Visualization
matplotlib
plotly

# Utilities
requests
